---
import PublicationLayout from "../../layouts/PublicationLayout.astro"
import { Image } from "@astrojs/image/components"
import Icon from "../../components/Icon"

export async function getStaticPaths() {
  const blog = await Astro.glob("../../data/blogs/*.mdx")

  return blog.map((blog) => ({
    params: {
      slug: blog.frontmatter.slug,
    },
    props: {
      blog,
    },
  }))
}

const { Content, frontmatter, url } = Astro.props.blog
---

<PublicationLayout
  title={frontmatter.title}
  description={frontmatter.description}
  image={frontmatter.image}
  keywords={frontmatter.tags}
>
  <div class="border-8 mt-10 border-[#040d21]">
    <Image
      src={frontmatter.image}
      width={1200}
      format="webp"
      height={630}
      aspectRatio="16:9"
    />
  </div>
  <div class="mt-3 prose prose-base text-center  max-w-full">
    <h1 class="mb-2 font-black text-3xl">{frontmatter.title}</h1>
    <p class="text-gray-600">{frontmatter.description}</p>

    <div class="mt-1">
      <p>Published At: <strong>{frontmatter.date}</strong></p>
      <p>Reading Time: <strong>{frontmatter.minutesRead}</strong></p>
    </div>
  </div>
  <div class="border rounded-md p-4">
    <div class="flex items-center">
      <Image
        src={frontmatter.author.image}
        class="rounded-full"
        width={80}
        height={80}
        format="webp"
      />
      <div class="flex flex-col ml-2 -gap-2">
        <h3 class="mb-1 font-black">{frontmatter.author.name}</h3>
        <a
          target="_blank"
          href={`https://twitter.com/${frontmatter.author.twitter}`}
          class="text-blue-500 underline"
          >@{frontmatter.author.twitter}
        </a>
      </div>
    </div>
  </div>
  <div class="prose prose-base py-8">
    <Content />

    <a
      target="_blank"
      href={`https://github.com/projectashik/cb-ashik.me/tree/main/${url}`}
      >Suggest an edit
    </a>

    <div class="my-2 flex flex-wrap gap-2">
      {
        frontmatter.tags.map((tag: string) => {
          return (
            <a href={`/tags/${tag}`} class="bg-gray-200 p-2">
              #{tag}
            </a>
          )
        })
      }
    </div>

    <script
      src="https://giscus.app/client.js"
      data-repo="projectashik/cb-ashik.me"
      data-repo-id="R_kgDOGqhjUA"
      data-category="Q&A"
      data-category-id="DIC_kwDOGqhjUM4CRKta"
      data-mapping="title"
      data-strict="0"
      data-reactions-enabled="1"
      data-emit-metadata="0"
      data-input-position="bottom"
      data-theme="preferred_color_scheme"
      data-lang="en"
      crossorigin="anonymous"
      async
    ></script>
  </div>
</PublicationLayout>
