---
import Container from "../components/Container.astro";
import Navbar from "../components/Navbar.astro";
import { Image } from "@astrojs/image/components";
import Icon from "../components/Icon";

import "../styles/global.css"

// 1. The frontmatter prop gives access to frontmatter and other data
const { frontmatter, headings } = Astro.props;

console.log(frontmatter.links);
---

<html>
    <head>
        <!-- Add other Head elements here, like styles and meta tags. -->
        <title>{frontmatter.name}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Rubik:wght@400;500;600;700;800;900&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css"
        />
    </head>
    <body>
        <Navbar />
        <!-- Add other UI components here, like common headers and footers. -->
        <Container>
            <div class="mt-10">
                <h1 class="mb-2 font-black text-3xl">{frontmatter.name}</h1>
                <p class="text-gray-600">{frontmatter.description}</p>
            </div>
            <div class="border-8 mt-3 border-[#040d21]">
                <Image
                    src={import(frontmatter.image)}
                    width={1200}
                    format="webp"
                    height={630}
                    aspectRatio="16:9"
                />
            </div>
            <div class="space-x-4 mt-4">
                <!-- loop through frontmatter.links -->
                {
                    frontmatter.links.map((link: any) => (
                        <a
                            href={link.url}
                            class={`px-4 py-2 space-x-2 inline-flex bg-white border-2 rounded hover:bg-gray-200 text-gray-700`}
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="h-6 w-6"
                                fill="none"
                                viewBox="0 0 24 24"
                                aria-hidden="true"
                                stroke="currentColor"
                                stroke-width="2"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"
                                />
                            </svg>
                            <span>{link.text}</span>
                        </a>
                    ))
                }
            </div>
            <!-- 2. Rendered HTML will be passed into the default slot. -->
            <div>
                <!-- <div class="headings flex flex-col mt-4 sticky top-2 bg-gray-50 border  p-2 z-50 rounded">
                    <button class="py-2 text-md self-start font-medium border rounded-md">Table of Contents</button>
                    <ol>
                        {
                            headings.map((heading: any) => (
                                <li>  
                                <a href={`#${heading.slug}`}>
                                    {heading.text}
                                </a>
                                </li>
                            ))
                        }
                    </ol>
                </div> -->
                <div class="prose prose-base py-8 col-span-3">
                    
                    <div>
                        <h2 id="technologies" class="mt-8"><a aria-hidden="true" tabindex="-1" href="#technologies"><span class="icon icon-link"></span></a>Technologies</h2>
                    <div class="mt-8 flex flex-wrap gap-4">
                        {
                            frontmatter.technologies.map((technology: any) => (
                                <span class="flex space-x-1 items-center">
                                    <Icon name={technology} />
                                    <span class="text-gray-700 capitalize">
                                        {technology}
                                    </span>
                                </span>
                            ))
                        }
                    </div>
                    </div>
                    <slot />
                    <div class="mt-8">
                        <h2 id="developers"><a aria-hidden="true" tabindex="-1" href="#developers"><span class="icon icon-link"></span></a>Developers</h2>
                        <div class="grid md:grid-cols-2 gap-3 grid-cols-1">
                            {
                                frontmatter.developers.map((creator: any) => (
                                    <div class="flex border space-x-4 px-4 items-center">
                                        <div class="flex-shrink-0">
                                            <Image
                                                class="rounded-full"
                                                src={creator.image}
                                                width={100}
                                                format="webp"
                                                height={100}
                                                aspectRatio="1:1"
                                            />
                                        </div>
                                        <div class="flex-1">
                                            <h3 class="font-black text-xl">
                                                {creator.name}
                                            </h3>
                                            <p class="text-gray-600">
                                                @{creator.twitter}
                                            </p>
                                        </div>
                                    </div>
                                ))
                            }
                        </div>
                    </div>
                </div>
                
            </div>
        </Container>
    </body>
</html>
